.wrapper, html, body {
    height: 100%;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 360px;
    background-color: darkslategray;
    border: 2px inset black;
}

.main-content {
    display: block;
    flex-grow: 3;
    background-color: darkslategray;
}